<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.d6.android.app">

    <!--https://github.com/lihangleo2/ShadowLayout-->
    <!--https://github.com/ogaclejapan/SmartTabLayout-->
    <!--https://github.com/shichaohui/WXShareMultiImage-->
    <!--https://github.com/iammert/ScalingLayout-->
    <!--https://github.com/wkp111/StickLayout?utm_source=androidweekly.io&utm_medium=website-->
    <!--https://github.com/kongzue/StackLabel-->
    <!--https://github.com/gdutxiaoxu/CoordinatorLayoutExample-->
    <!--https://mp.weixin.qq.com/s/vbIKAo0whZKyIy_E80FcWw--><!--HomeFragment-->
    <!--https://github.com/LillteZheng/ViewPagerHelper-->
    <!--https://github.com/bravoborja/ReadMoreTextView-->
    <!--https://github.com/Chen-Sir/ExpandableTextView-->
    <!--https://github.com/Zhaoss/WeiXinRecordedDemo-->
    <!--等级进度 https://www.jianshu.com/p/9e774990bdb5-->
    <!--https://github.com/xfans/VoiceWaveView-->
    <!--大图：https://www.jianshu.com/p/b15e65791c3f-->
    <!--https://github.com/boycy815/PinchImageView-->
    <!--https://github.com/APLK/RichTextView-->
    <!--https://github.com/kaisengao/KsgLikeView#ksglikeview-->
    <!--https://github.com/venshine/GoodView-->
    <!--https://github.com/quiph/RecyclerView-FastScroller-->
    <!--https://github.com/zhpanvip/BannerViewPager-->
    <!--多图选择：https://github.com/donkingliang/ImageSelector-->
    <!--基于腾讯浏览服务Tbs,使用X5Webkit内核,实现文件的展示功能，支持多种文件格式 https://github.com/ZhongXiaoHong/superFileView-->
    <!--一行代码检测XP/调试/多开/模拟器/root https://github.com/lamster2018/EasyProtector-->
    <!--图片选择 https://github.com/LuckSiege/PictureSelector,Imageselect-->
    <!--开源项目 https://github.com/VIPyinzhiwei/Eyepetizer-->
    <!--输入法面板 https://github.com/YummyLau/PanelSwitchHelper-->
    <!--一个轻量级（<180KB）、易扩展的Android滤镜和动态贴纸框架，支持摄像头、视频、图片和视图添加滤镜和贴纸。 https://github.com/uestccokey/EZFilter-->
     <!--自定义相机 https://github.com/CJT2325/CameraView，https://github.com/xionger0520/flowcamera-->
    <!--手势体验极棒但使用简单的ImageView控件 https://github.com/boycy815/PinchImageView-->

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.read_contacts" />
    <uses-permission android:name="android.permission.read_phone_state" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <!--微信支付权限-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <!--七牛播放器权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
     <!--录制权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <!--小米推送权限-->
    <permission android:name="com.d6.android.app.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.d6.android.app.permission.MIPUSH_RECEIVE" />

     <!--华为推送-->
    <!--如果是安卓8.0，应用编译配置的targetSdkVersion>=26，请务必添加以下权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!--<uses-sdk tools:overrideLibrary="com.shuyu.gsyvideoplayer,com.shuyu.gsyvideoplayer.armv5,com.shuyu.gsy.base,shuyu.com.androidvideocache"/>-->

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".application.D6Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="808bc15cea5a1648a2c84a08fff73267" />

        <meta-data
            android:name="com.openinstall.APP_KEY"
            android:value="b5zf76"/>
        <!--正式：b5zf76  测试：vwm5ds-->

        <meta-data
            android:name="design_width_in_dp"
            android:value="375"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="667"/>

         <meta-data
         android:name="UMENG_APPKEY"
         android:value="5a5b309af29d9835ae000262" />
         <meta-data
         android:name="UMENG_MESSAGE_SECRET"
         android:value="0f16af7d3011a5aad7cf82a996b6b94c" />


        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".activities.LauncherActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--<data android:scheme="d6app" android:host="com.d6.android.app" android:pathPrefix="/openwith"/>-->
                <data android:scheme="b5zf76"/>

                <!--正式：b5zf76  测试：vwm5ds-->
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SignChooseActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activities.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SpeedDateDetailActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.d6.android.app.activities.SpeedDateDetailActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ReleaseNewTrendsActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.VoiceChatCreateActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FeedBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AboutUsMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WeChatSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MySquareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ModifyPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ContactUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MyInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity
            android:name=".activities.FilterVipLevelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FilterCityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PublishFindDateActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SquareTrendDetailActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.d6.android.app.activities.SquareTrendDetailActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.BusinessCooperationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PlatformServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NewestFindDateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FindDateDetailActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.d6.android.app.activities.FindDateDetailActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.UnKnowChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SelectPhotoDialog"
            android:screenOrientation="portrait"
            android:theme="@style/selectedDialog" />
        <activity
            android:name=".activities.CropImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UserInfoActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.d6.android.app.activities.UserInfoActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SelfReleaseDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FilterTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SystemMessagesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.SystemMessagesNewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.SquareMessagesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MessageSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GroupSettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.CreateGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChatActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="${applicationId}"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
                <data
                    android:host="${applicationId}"
                    android:path="/conversationlist/"
                    android:scheme="rong"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.UnAuthUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.QRActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ImagePagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/imageactivity"/>
        <activity
            android:name=".activities.ImageLocalPagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/imageactivity">
            <intent-filter>
                <action android:name="android.intent.action.ImageLocalPagerActivity" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true" />
        <activity android:name=".activities.MessageDetailActivity" />
        <activity android:name=".activities.ChooseSexActivity" />
        <activity android:name=".activities.QRNewActivity" />
        <activity android:name=".activities.SplashActivity" />
        <activity android:name=".activities.SetUserInfoActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:name=".activities.ChooseCountryActivity" />
        <activity android:name=".activities.TrendDetailActivity"
            android:theme="@style/imageactivity"/>
        <activity android:name=".activities.SettingActivity" />
        <activity android:name=".activities.ReportActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".activities.SpeedDateActivity"
            android:label="@string/title_activity_speed_date"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.DateAuthStateActivity" />
        <activity android:name=".activities.AuthMenStateActivity" />
        <activity android:name=".activities.OpenMemberShipActivity" />
        <activity android:name=".activities.D6LoveHeartListActivity" />
        <activity android:name=".activities.AuthWomenStateActivity" />
        <activity android:name=".activities.MemberActivity" />
        <activity android:name=".activities.JoinGroupActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.ShareGroupActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.MyDateActivity" />
        <activity android:name=".activities.EditImageActivity"></activity>
        <activity android:name=".activities.BLBeautifyImageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.FansActivity">
            <intent-filter>
                <action android:name="com.d6.android.app.activities.FansActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.FollowActivity"/>
        <activity android:name=".activities.OldFansActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.d6.android.app.activities.OldFansActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.OldFollowActivity"/>
        <activity android:name=".activities.VistorsActivity"/>
        <activity android:name=".activities.FilterSquaresActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.ChooseFriendsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.SearchFriendsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.GroupUsersActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.MyCardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.PrivacySettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.TopicSelectionActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.ShareFriendsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.MyPointsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.d6.android.app.activities.MyPointsActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.MyDateListActivity"/>
        <activity android:name=".activities.MyDateDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.d6.android.app.activities.MyDateDetailActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.RecommendDateActivity">
            <intent-filter>
                <action android:name="com.d6.android.app.activities.RecommendDateActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.AppointmentActivity"/>
        <activity android:name=".activities.AudioChatActivity"/>
        <activity android:name=".activities.PointExplainActivity"/>
        <activity android:name=".activities.MenMemberActivity"/>
        <activity android:name=".activities.PrivilegeDescActivity"/>
        <activity android:name=".activities.BindPhoneActivity"/>
        <activity android:name=".activities.BlackListActivity"/>
        <activity android:name=".activities.GoodFriendsListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.RGServiceInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.InviteGoodFriendsActivity">
            <intent-filter>
                <action android:name="com.d6.android.app.activities.InviteGoodFriendsActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.UnKnownActivity"/>
        <activity android:name=".activities.SexChooseActivity"
            android:theme="@style/chooseAnim"/>
        <activity android:name=".activities.ConstellationChooseActivity"
            android:theme="@style/chooseAnim"/>
        <activity android:name=".activities.AreaChooseActivity"
            android:theme="@style/chooseAnim"/>
        <activity android:name=".activities.PublishChooseActivity"
            android:theme="@style/publishchooseAnim"/>

        <activity android:name=".activities.ScreeningAreaActivity"
            android:theme="@style/chooseAnim"/>
        <activity android:name=".activities.DateAuthSucessActivity"/>
        <activity android:name=".activities.SimplePlayer"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/imageactivity"/>
         <!--容云语音通话-->
        <activity
            android:name=".rong.voicechat.SingleCallActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="io.rong.intent.action.voip.SINGLEVIDEO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="io.rong.intent.action.voip.SINGLEAUDIO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|keyboard|navigation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true"
            android:launchMode="singleTop"/>
        <receiver
            android:name=".rong.D6NotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.THIRD_PARTY_PUSH_STATE" />
            </intent-filter>
        </receiver>

        <!--小米推送-->
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />
        <!--注：此service必须在2.2.5版本以后（包括2.2.5版本）加入-->

        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!--注：此service必须在3.0.1版本以后（包括3.0.1版本）加入-->

        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="io.rong.push.platform.mi.MiMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <!--小米推送集成结束-->

        <!-- HMS 配置开始-->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="" />

        <!-- BridgeActivity定义了HMS-SDK中一些跳转所需要的透明页面-->
        <activity
            android:name="com.huawei.hms.activity.BridgeActivity"
            android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent">
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent" />
        </activity>

        <!-- 解决华为移动服务升级问题的透明界面（必须声明）-->
        <activity
            android:name="io.rong.push.platform.hms.common.HMSAgentActivity"
            android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent">
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent" />
        </activity>

        <!--<provider-->
            <!--android:name="com.huawei.hms.update.provider.UpdateProvider"-->
            <!--android:authorities="cn.rongcloud.im.hms.update.provider"-->
            <!--android:exported="false"-->
            <!--android:grantUriPermissions="true"/>-->
        <!-- 第三方相关 :接收Push消息（注册、Push消息、Push连接状态）广播 -->
        <receiver android:name="io.rong.push.platform.hms.HMSReceiver">
            <intent-filter>
                <!-- 必须,用于接收token -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <!-- 必须，用于接收消息 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
                <!-- 可选，用于点击通知栏或通知栏上的按钮后触发onEvent回调 -->
                <action android:name="com.huawei.android.push.intent.CLICK" />
                <!-- 可选，查看push通道是否连接，不查看则不需要 -->
                <action android:name="com.huawei.intent.action.PUSH_STATE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.huawei.hms.support.api.push.PushEventReceiver">
            <intent-filter>

                <!-- 接收通道发来的通知栏消息，兼容老版本Push -->
                <action android:name="com.huawei.intent.action.PUSH" />
            </intent-filter>
        </receiver>
        <!-- HMS 配置结束-->

        <!--<activity-->
            <!--android:name=".activities.ConversationListActivity"-->
            <!--android:launchMode="singleTask"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateHidden|adjustResize">-->

            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<data-->
                    <!--android:host="cn.rongcloud.im"-->
                    <!--android:path="/conversationlist"-->
                    <!--android:scheme="rong" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <!-- 此部分代码需要移植到您的 app 下的 manifest，并且 authorities 指定您的包名。例如：com.android.FileProvider -->
        <!-- 否则使用拍照功能时，会崩溃 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>
        <!--录音服务-->
        <service
            android:name="com.zlw.main.recorderlib.recorder.RecordService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>